17. Combining Data setâ€™s: Concatenate and Append, Combining Datasets: Merge and Join

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Merge
left = pd.DataFrame({  
   'id':[1,2,3,4],  
   'Name': ['John', 'Parker', 'Smith', 'Parker'],  
   'subject_id':['sub1','sub2','sub4','sub6']})  
right = pd.DataFrame({  
    'id':[1,2,3,4],  
   'Name': ['William', 'Albert', 'Tony', 'Allen'],  
   'subject_id':['sub2','sub4','sub3','sub6']})  
print (left)  
print (right)

   id    Name subject_id
0   1    John       sub1
1   2  Parker       sub2
2   3   Smith       sub4
3   4  Parker       sub6
   id     Name subject_id
0   1  William       sub2
1   2   Albert       sub4
2   3     Tony       sub3
3   4    Allen       sub6

In [ ]:
#Join
info = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],  
'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})  
x = pd.DataFrame({'key': ['K0', 'K1', 'K2'],  
'B': ['B0', 'B1', 'B2']})  
info.join(x, lsuffix='_caller', rsuffix='_x')   
info.set_index('key').join(x.set_index('key'))  
info.join(x.set_index('key'), on='key')

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

In [ ]:
#Aggregation
info=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]],columns=['X','Y','Z'])  
info.agg(['sum','min'])

        X     Y     Z
sum  29.0  38.0  46.0
min   1.0   5.0   7.0

In [ ]:
#Grouping
data = {'Name': ['Parker', 'Smith', 'John', 'William'],  
   'Percentage': [82, 98, 91, 87],  
   'Course': ['B.Sc','B.Ed','M.Phill','BA']}  
df = pd.DataFrame(data)  
grouped = df.groupby('Course')  
print(grouped['Percentage'].agg(np.mean))

Course
B.Ed       98.0
B.Sc       82.0
BA         87.0
M.Phill    91.0
Name: Percentage, dtype: float64

In [ ]:
#Pivot Tables
# create dataframe   
info = pd.DataFrame({'P': ['Smith', 'John', 'William', 'Parker'],   
      'Q': ['Python', 'C', 'C++', 'Java'],   
      'R': [19, 24, 22, 25]})   
info   
table = pd.pivot_table(info, index =['P', 'Q'])     
table

                 R
P       Q
John    C       24
Parker  Java    25
Smith   Python  19
William C++     22